<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Utilizando o EJS</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <!-- <link rel="stylesheet" type="text/css" href="/css/styles1.css"> -->
</head>
<body>

    <%- include('pages/components/header'); -%>
    
    <%- body %>
      
</body>
</html>  