<header>
    <div class="container">
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/contact">Contact</a></li>

          <% if (!user) { %>
            <li><a href="/signin">Entrar</a></li>
          <% } else { %>
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/logout">Sair</a></li>
          <% } %>
          
          <%if (signinMessage) {%>
              <p><%= signinMessage %></p>
          <% } %>
          <%if (signupMessage) {%>
              <p><%= signupMessage %></p>
          <% } %>
        </ul>
      </nav>
    </div>
  </header>