<div id="formContainer">
      <form action="/contact" method="POST">
            <div class="formItem">
                  <label for="name">Your name</label>
                  <input type="text" placeholder="Name" id="name"/>
                  <div class="formError">
                        Fill your name.
                  </div> 
            </div>
            <div class="formItem">
                  <label for="email">Your E-mail</label>
                  <input type="email" placeholder="E-mail" id="Email"/>
                  <div class="formError">
                        Fill your E-mail.
                  </div> 
            </div>
            
            <div class="formItem">
      <label for="msg">Message</label>
                  <textarea placeholder="Message" id="msg"></textarea>
            </div>
            <button type="submit" class="">Enviar</button>
      </form>
</div>

