

<main>
  <div class="form-container">
    <form class="top" action="/signin" method="POST">
      <h1>Login</h1>
      <input type="email" name="email" placeholder="Email">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <button class="btn-submit" type="submit">SignIn</button>
    </form>
  </div>
</main>